*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
}
/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif; */

/****************************
INDEX 
****************************/

/**** HEADER ****/

.nav-color{
    background-color: #191919;
}

.navbar-brand img{
    height: 3rem;
}
.navbar-nav{
    row-gap: 1.5rem;
}

.navbar-collapse{
    flex-grow: 0;
}


.header-social {
    display:flex;
    justify-content: left;
    align-content: center;
    gap: .75rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #eeeeee;
    font-size: .875rem;
}

/**** MAIN ****/

.index-header-section{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 43.75rem;
    overflow: hidden;
    color: white;
    background-image: url("../assets/img/banner_hero.jpg");
    width: 100%;
    background-size: cover;
}

.index-header-section h1{
    font-size: 4rem;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 700;
    font-style: italic;
    align-self: center;
    justify-self: center;
}
.index-about-section {
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 1.125rem;
    column-gap: 1.75rem;
    background-color: whitesmoke;
    align-self: flex-start;
    padding: 4.375rem 7.5rem;
    height: auto;
    grid-template-areas: 
    "item1 item2 item2"
    "item1 item3 item3";
}
.item1{
    grid-area: item1;
    max-height: 12.5rem;
    background: radial-gradient(#bb78ff,#8000FF);
    border-radius: 50%;
    align-self: flex-start;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
    align-self: flex-start;
}


.index-about-section div{
    padding: 1.125rem 1.125rem;
}
.index-h2{
    font-size: 3rem;
    font-style: normal;
} 

.index-h2-2{
    font-style: italic;
    font-weight: 400;
    background-color: #F9D61C /*#8aee83*/;
    width: fit-content;
}

.index-about-section h3{
    color: #8000FF;
    padding: .375rem 0rem;
}
.index-about-section p, .index-testimonial-section p{
    padding: .375rem none;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: .0313rem;
}

.card-container, .testimony-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
}
.testimony-container{
    gap: 0px;
}

.index-projects-section h2, .index-testimonial-section h2, .index-mailing-section h2{
    padding: 4.375rem 0rem;
    font-size: 2rem;
    font-style: normal;
}

.index-projects-section, .index-testimonial-section, .index-mailing-section{
    padding: 4.375rem 7.5rem;
}

.index-testimonial-section{
    background-color: whitesmoke;
}


.my-button {
    text-decoration: none;
    background-color: #8000FF;
    color: #eeeeee;
    border: 1px;
    padding: .375rem .75rem ;
    border-radius: .375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
}

.my-button:hover {
    background-color: #5500ab;
}

.my-button:active {
    background-color: #300758;
}

.index-testimonial-section h2{
    padding: 4.375rem 0rem 0rem 0rem;
}
.index-testimonial-section p{
    padding: 1.125rem 0rem 4.375rem 0rem;
}
.card-testimony{
    width: 31.25rem;
    height: 37.5rem;
    background-color:#191919;
    margin: .75rem;
    border-radius: .75rem;
    overflow: hidden;
}

.card-testimony img{
    margin: .75rem;
    padding: .75rem;
    border-radius: .125rem;
    border-color: white;
}

.testimony-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1.5rem .75rem;
}

.testimony-flex div{
    align-self: center;
}

.testimony-flex div p{
    padding: 0rem;
}

.card-testimony div h3{
    color: white;
    font-size: 1.5rem;
}

.card-testimony p{
    font-size: 1rem;
    letter-spacing: .0313rem;
    padding: 0rem 3rem 1.5rem 3rem;
    color: white;
}
.mailing-background{
    background-color: whitesmoke;
}
.index-mailing-section {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    row-gap: .75rem;
    background-color: #d5b2ff;
    margin: 0rem 7.5rem 0rem 7.5rem;
    padding: 2rem;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    grid-template-areas: 
    "h2-grid email"
    "p-grid mailing-button";
}

.index-mailing-section h2{
    grid-area: h2-grid;
    padding: 1rem 1.25rem 0rem 1.25rem;
    font-style: normal;
}

.index-mailing-section p{
    grid-area: p-grid;
    padding: 0rem 1.25rem 1rem 1.25rem;
    font-size: 1.125rem;
    letter-spacing: .0313rem;
}

.index-mailing-section input{
    grid-area: email;
    margin: 0rem 1.5rem;
    border-radius: 12px;
    padding: .375rem .75rem;
    width: 25rem;
    border-width: .0625rem;
    color: #8e8e8e;
    font-size: .875rem;
}

.index-mailing-section button{
    grid-area: mailing-button;
    margin: 0rem 1.5rem;
    width: 15.625rem;
    height: 3.125rem;
    background-color: #8000FF;
    border-radius: 12px;
    padding: .375rem .75rem;
    border-width: 0rem;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
}
/**** FOOTER ****/

footer {
    background-color: #191919;
    height: 15rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: top;
    padding: 3rem 6.25rem;
    grid-area:
    "logo-footer nav-footer footer-social";
}

.logo-footer img{
    height: 5.375rem;
    width: auto;
}

footer nav ul{
    list-style: none;
}

footer nav ul li a {
    display: block;
    color: #eeeeee;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-transform: uppercase;
    padding: .5rem .75rem;
    }

footer div{
    padding: 1.5rem;
}

footer div p{
    font-size: 1.125rem;
    color: white;
    font-weight: 600;
    letter-spacing: .0625rem;
    padding: 0rem 0rem .75rem 0rem;
}

footer div a img{
    width: 36px;
    height: auto;
}

/****************************
ABOUT
****************************/

.about-principal h1, .about-principal h2, .about-mywork h2{
    margin: 1.5rem 6.25rem;
    padding: 1.125rem 7.5rem;
    font-size: 1.5rem;
    font-style: normal;
}

.about-principal p{
    margin: 1.5rem 6.25rem;
    padding: .25rem 1.25rem;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: .0313rem;
}

.about-mywork{
    background-color: whitesmoke;

}

.about-principal img{
    margin: 1.125rem 6.25rem;
    padding: 1.5rem;
    height: 37.5rem;
    width: auto;
}

.about-card{
    width: 31.25rem;
    height: 26.875rem;
    background-color: #191919;
    margin: 1.125rem 6.25rem;
    border-radius: .75rem;
    overflow: hidden;
}

.about-card div {
    width: 100%;
    height: 15.625rem;
}

.about-card div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-card h3{
    padding: 1.5rem 1.5rem .375rem 1.5rem;
    letter-spacing: .0313rem;
    color: white;
}

.about-card p{
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    color: white;
    font-size: .875rem;
    letter-spacing: .0313rem;
}

.about-card button{
    float: right;
    margin: 0rem 1.5rem;
    background-color: #8000FF;
    border-radius: 12px;
    padding: .5rem .75rem;
    border-width: 0rem;
    color: white;
    font-weight: 600;
    font-size: .875rem;
}

/****************************
WORK & PLAY
****************************/
.work-principal{
    margin-top: 5.625rem;
    padding: 1.5rem 7.5rem;
}
.work-principal div h1{
    padding: 1.5rem 0rem;
    font-size: 1.5rem;
    font-style: normal;
}

.description-txt{
    padding: .25rem .5rem 2rem .5rem;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: .0313rem;
}

.play-principal h2, .work-principal h2{
    padding: 1.5rem 0rem;
    font-size: 1.5rem;
    font-style: normal;
}

.play-principal p{
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: .0313rem;
}

.play-principal {
    background-color: whitesmoke;
    padding: 1.5rem 7.5rem;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    grid-template-areas: 
    "play-img-1 play-img-3"
    "play-img-2 play-img-3";
}
.play-img-1 {
    grid-area: play-img-1;
}
.play-img-2 {
    grid-area: play-img-2;
}
.play-img-3 {
    grid-area: play-img-3;
}
.play-img-1 img, .play-img-2 img, .play-img-3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/****************************
CONTACT
****************************/

.contact-principal h1{
    margin: 1.5rem 6.25rem;
    padding: 1.125rem 7.5rem;
    font-size: 1.5rem;
    font-style: normal;
}

.contact-principal p{
    margin: 1.5rem 6.25rem;
    padding: 1.25rem 7.25rem;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: .0313rem;
}

.contact-principal div{
    margin: 1.5rem 6.25rem;
    padding: 1.5rem;
    background-color: #4db645;
    width: 18.75rem;
    height: 21.875rem;
    align-content: center;
    border-radius: .75rem;
}

.contact-principal div label{
    padding: .75rem 0rem .75rem 0rem;
    font-size: .875rem;
    width: 25rem;
    font-size: .875rem;
}

.contact-principal div input{
    padding: .375rem;
    color: #8e8e8e;
    width: 250px;
    border: solid;
    border-color: #267521;
    border-radius: .75rem;
}

.contact-principal div button{
    float: right;
    margin: 0rem 1.5rem;
    background-color: #8000FF;
    border-radius: 12px;
    padding: .5rem .75rem;
    border-width: 0rem;
    color: white;
    font-weight: 600;
    font-size: .875rem;
}

/****************************
ARTICLES
****************************/

.article-title{
    background-image: url("../assets/img/banner_hero.jpg");
    height: 21.875rem;
    width: 100%;
    background-size: cover;
}

.article-title h1{
    padding: 9.5rem 7.5rem;
    font-size: 3rem;
    font-style: normal;
    text-align: right;
}

.article-principal .article-title{
    margin: 0rem;
    padding: 0rem;
}

.article-principal h2{
    margin: 1.5rem 6.25rem;
    padding: .75rem 7.5rem;
    font-size: 1.5rem;
    font-style: normal;
}

.article-principal h3{
    margin: .75rem;
    padding: 1.5rem;
    color: #8000FF;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3rem;
    font-style: italic;
}

.article-principal p{
    margin: 1.5rem 6.25rem;
    padding: 1.25rem 7.25rem;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: .0313rem;
}

.article-principal div{
    margin: 1.5rem 6.25rem;
    padding: .75rem 7.5rem;
}

.article-principal div img{
    width: 50%;
    height: 25rem;
    object-fit: cover;
    border-radius: .75rem;
}

.article-principal div p{
    margin: .375rem 0rem .375rem 0rem;
    padding: 0rem;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .0313rem;
}

.article-mywork{
    background-color: whitesmoke;
    padding: 1.5rem 0rem;
}
.article-mywork h2{
    margin: 1.5rem 6.25rem;
    padding: .75rem 7.5rem;
    font-size: 1.5rem;
    font-style: normal;
}

/****************************
MEDIA QUERY
****************************/

@media (max-width:768px){

    /* HOME */

    .index-header-section{
        padding: 2.1875rem 3.75rem;
        height: 31.25rem; 
    }
    .index-about-section {
        padding: 2.1875rem 3.75rem;
        height: auto;
        column-gap: 0rem;
        grid-template-areas: 
        "item1 item2 item2"
        "item3 item3 item3";
    }
    .item1{
        width: 100%;
    }
    .index-projects-section, .index-testimonial-section, .index-mailing-section{
        padding: 2.1875rem 3.75rem;
    }
    .index-projects-section h2, .index-testimonial-section h2, .index-mailing-section h2{
        padding: 2.1875rem 0rem .375rem 0rem;
    }
    .card-container{
        padding: 0rem;
    }
    .index-mailing-section {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1;
        row-gap: .75rem;
        margin: 0rem;
        padding: 2.1875rem 3.75rem;
        grid-template-areas: 
        "h2-grid"
        "p-grid"
        "email"
        "mailing-button";
    }
    .index-mailing-section input{
        margin: 0rem;
        padding: 1.5rem;
        width: 25rem;
        border-width: .0625rem;
        color: #8e8e8e;
        font-size: .875rem;
    }
    .index-mailing-section button{
        margin: 0rem;
    }
    .index-mailing-section p {
        padding: 0rem 0rem 1rem 0rem;
    }
    footer {
        height: fit-content;
        grid-template-columns: repeat(2, auto);
    }
    /* WORK & PLAY */

    .work-principal, .play-principal{
        padding: 2.1875rem 3.75rem;
    }

}

@media (max-width:425px){

        /* HOME */

    .index-header-section h1{
        font-size: 3.5rem;
    }
    .index-header-section{
        padding: 1.5rem 1.875rem;
    }
    .index-about-section {
        padding: 1.5rem 1.875rem;
        row-gap: 0rem;
        grid-template-areas: 
        "item1" 
        "item2"
        "item3";
    }
    .item1{
        width: auto;
        max-height: 12.5rem;
    }
    .index-projects-section, .index-testimonial-section, .index-mailing-section{
        padding: 1.5rem 1.875rem;
    }
    .card-testimony p{
        padding: 1rem 1rem 1.5rem 1rem;
    }
    .card-testimony img{
        margin: 0rem;
    }
    .index-mailing-section h2{
        padding: .75rem 0rem;
    }
    .index-mailing-section {
        grid-template-rows: repeat(4, auto);
        row-gap: .75rem;
        margin: 0rem;
        padding: 1.5rem 1.875rem;
    }
    .index-mailing-section button{
        width: 100%;
    }
    .index-mailing-section input{
        grid-area: email;
        padding: 1.5rem;
        width: 100%;
        border-width: .0625rem;
        color: #8e8e8e;
        font-size: .875rem;
    }
    footer {
        padding: 1.5rem 1.875rem;
        row-gap: .75rem;
    }
    .logo-footer img{
        height: 3.75rem;
        width: auto;
    }
    .footer-social{
        padding: 0rem;
    }
    
    /* WORK & PLAY */

    .work-principal, .card-container, .play-principal{
        padding: 1.5rem 1.875rem;
    }

    .gallery-container{
        grid-template-areas:
        "play-img-1"
        "play-img-2"
        "play-img-3";
    }

}

@media (max-width:320px){

        /* HOME */

    .index-header-section h1{
        font-size: 3rem;
    }
    .item1{
        width: auto;
        max-height: 9.375rem;
    }
}