.error-principal {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 62.5rem;
    color: white;
    width: 100%;
    gap: 1.5rem;
    img{
        padding: 1.5rem;
        width: 100%;
        height: 18.75rem;
        align-items: center;
    }
    div{
        align-self: center;
        justify-self: center;
        h1{
            @include h1(2rem,italic,700);
            font-family: $ffamily;
            color: map-get($color, _black);
        }
        h3{
            @include h3(1.125rem,normal,100);
            color: map-get($color, _light_black);
        }
    }
}