.work-principal{
    padding: 9.375rem 7.5rem 3.5rem 7.5rem;
    .work-text{
        display: flex;
        flex-direction: column;
        gap: .375rem;
        h1{
            @include h1 (2.875rem, italic, 700 );
            font-family: $ffamily;
        }
        p{
            margin-bottom: 2rem;
        }
    }
    div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: space-evenly;
        div{
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            justify-content: space-evenly;
            div{
                justify-content: left;
                gap: 0.5rem;
                a{
                text-decoration: none;
                background-color: map-get($color, _violet);
                color: white;
                border: 1px;
                padding: .375rem .75rem ;
                border-radius: .375rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                text-align: center;
                vertical-align: middle;
                &:hover{
                    background-color: #5500ab;
                    }
                &:active{
                    background-color: #300758;
                    }
                }
                }
            }
        }
    }
.play-principal{
    padding: 3.5rem 7.5rem 3.5rem 7.5rem;
    background-color: whitesmoke;
    gap: .375rem;
    h2{
        @include h2(2rem, italic, 700);
        font-family: $ffamily;
    }
    p{
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1.5rem;
        grid-template-areas: 
        "img-1 img-3"
        "img-2 img-3";
        .img-1 {
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
            grid-area: img-1;
        }
        .img-2 {
            @extend .img-1;
            grid-area: img-2 !important;
        }
        .img-3 {
            @extend .img-1;
            grid-area: img-3;
        }
    }
}